.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 36px 0;
  z-index: 1;
}

.placeholder {
  height: 118px;
}

.nav {
  position: relative;
}

.triggerWrapper {
  background-image: linear-gradient(90deg, #434343, #000000);
  padding: 4px;
  box-shadow: 0 1px 2px -1px #00144381 ,inset 0 25px 0 hsla(0 ,0% ,100% ,.23);
  border-radius: 8px;
  display: flex;
  gap: 4px;
  z-index: 9;
  position: relative;
}

.navBtn, .navLink {
  display: inline-block;
  position: relative;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
  font-weight: bold;
  color: #fbefea;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  line-height: 30px;
  padding: 4px 7px;
}

.navLink {
  text-decoration: none;
  margin-right: 8px;
  padding: 4px 26px;
}

.navBtn:hover, .navLink:hover, .navBtn:focus, .navLink:focus {
  background-color: rgba(255, 255, 255, 0.213);
  /* opacity: .5; */
}

.navBtn:active, .navLink:active {
  background-color: rgba(0, 0, 0, 0.121);
}

.panelsWrapperInner {
  color: white;
  background: rgb(32, 32, 32);
  border: 1px solid #383838;
  border-radius: 7px;
  box-shadow: 0 2px 5px #220b0410;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.formItem {
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.formItem {
  flex-shrink: 0;
}

.motionWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  color: #c5c5c5;
  background: rgb(32, 32, 32);
  border: 1px solid #383838;
  border-radius: 7px;
  box-shadow: 0 2px 5px #220b0410;
  width: 300px;
  padding: 12px;
  left: 0;
  bottom: -80px;
  opacity: 0;
  transform: rotateX(-30deg) scale(0.95);
  transition: opacity .2s, transform .2s, visibility .2s;
  transition-delay: .3s;
  z-index: 3;
}

.tLink {
  color: #406391;
  text-decoration: none;
}

.tLink:hover {
  text-decoration: underline;
}

.motionWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) scale(1);
}

.lang_switch {
  display: none;
}

@media (max-width: 520px) {
  .lang_switch {
    display: block;
    color: #406391;
    text-decoration: none;
  }
  
  .lang_switch:hover {
    text-decoration: underline;
  }
  .header {
    width: 100%;
    position: fixed;
    display: block;
    margin: 0 0 26px 0;
  }
  .placeholder {
    height: 70px;
  }
  .tooltip {
    width: calc(100vw - 196px);
    bottom: -86px;
    left: -76px;
  }
  .onlyDesktop {
    display: none;
  }
  .triggerWrapper {
    gap: 0;
    box-shadow: 0 1px 2px -1px #00144381 ,inset 0 20px 0 hsla(0 ,0% ,100% ,.23);
    border-radius: 0 0 5px 5px;
    padding: 4px 12px;
  }

  .panelsWrapperInner {
    border: none;
    border-bottom: 1px solid #383838;
    border-radius: 0;
  }
  .navBtn, .navLink {
    padding: 3px 7px;
    font-size: 14px;
    flex-grow: 1;
  }
  .navLink {
    margin-right: 32px;
  }
}