.footer {
  color: #c5c5c5;
  margin-top: 36px;
  margin-bottom: 36px;
}

.footer a {
  color: #406391;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.hana {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.hana a {
  text-decoration: none;
  transition: transform .5s;
}

.hana a:hover {
  transform: translateY(5px);
  transition: transform .05s;
}

@media (max-width: 520px) {
  .footer {
    margin-bottom: 54px;
  }
}