.txt {
  color: #c5c5c5;
}

.txt a {
  color: #406391;
  text-decoration: none;
}

.txt a:hover {
  text-decoration: underline;
}

.feats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  color: #c5c5c5;
}

.feat {
  border: 1px solid rgb(63 63 63);
  border-radius: 8px;
  padding: 12px;
  background: #2a2a2a;
}

.emoji, .featTt, .featDesc {
  margin: 0;
  padding: 0;
}

.emoji {
  font-size: 32px;
  margin-left: 8px;
}

.featTt {
  margin-top: 10px;
  margin-bottom: 4px;
}

.featDesc {
  font-size: 14px;
  color: rgb(129, 129, 129);
  font-weight: 300;
}

.install {
  border: 1px solid rgb(43 43 43);
  border-radius: 8px;
  padding: 14px 18px;
  background: #2a2a2a;
  color: #c5c5c5;
  box-shadow: inset 0 1px 3px -1px #1b1d23, 0 1px 0 #3a3a3a;
}

.presentation {
  position: fixed;
  bottom: -20px;
  right: -16px;
  /* color: #464646; */
  color: #1c1c1c;
  font-size: 77px;
  font-weight: 1000;
  z-index: -1;
  text-shadow: -1px -1px 0 #6c6c6c, -2px -2px 0 #6c6c6c, -3px -3px 0 #6c6c6c, -4px -4px 0 #6c6c6c;
}

.wwrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.wave {
  animation: moveTheWave 3200ms linear infinite;
  stroke-dasharray: 0 16 101 16;
  transition: stroke .8s;
}

@media (max-width: 720px) {
  .presentation {
    font-size: 66px;
    bottom: -14px;
    right: -8px;
  }
}

@media (max-width: 520px) {
  .feats {
    gap: 10px;
  }
  .presentation {
    font-size: 46px;
    bottom: -14px;
    right: -8px;
  }
}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }

}