.txt {
  color: #c5c5c5;
}

.txt a {
  color: #406391;
  text-decoration: none;
}

.txt a:hover {
  text-decoration: underline;
}

.feats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  color: #c5c5c5;
}

.feat {
  border: 1px solid rgb(63 63 63);
  border-radius: 8px;
  padding: 12px;
  background: #2a2a2a;
}

.emoji, .featTt, .featDesc {
  margin: 0;
  padding: 0;
}

.emoji {
  font-size: 32px;
  margin-left: 8px;
}

.featTt {
  margin-top: 10px;
  margin-bottom: 4px;
}

.featDesc {
  font-size: 14px;
  color: rgb(129, 129, 129);
  font-weight: 300;
}

.install {
  border: 1px solid rgb(43 43 43);
  border-radius: 8px;
  padding: 14px 18px;
  background: #2a2a2a;
  color: #c5c5c5;
  box-shadow: inset 0 1px 3px -1px #1b1d23, 0 1px 0 #3a3a3a;
}

.presentation, .presentation2 {
  position: fixed;
  bottom: -20px;
  right: -16px;
  /* color: #464646; */
  color: #1c1c1c;
  font-size: 77px;
  font-weight: 1000;
  z-index: -1;
}

.presentation2 {
  background: #0e0e0e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232323, #0e0e0e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232323, #0e0e0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textShadow {
  text-shadow: -1px -1px 0 #6c6c6c, -2px -2px 0 #6c6c6c, -3px -3px 0 #6c6c6c, -4px -4px 0 #6c6c6c;
}

@media (max-width: 720px) {
  .presentation, .presentation2 {
    font-size: 66px;
    bottom: -14px;
    right: -8px;
  }
}

@media (max-width: 520px) {
  .feats {
    gap: 10px;
  }
  .presentation, .presentation2 {
    font-size: 46px;
    bottom: -14px;
    right: -8px;
  }
}