#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.panelsWrapper {
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  box-shadow: 0 3px 3px -3px rgb(180, 180, 180);
}
