.wrapper {
  padding: 18px;
  box-sizing: border-box;
  margin: 0;
}

.desc {
  font-weight: lighter;
  font-size: 15px;
  color: #c5c5c5;
  margin: 0;
  margin-bottom: 16px;
}

.desc a {
  color: #406391;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.links a {
  display: block;
  color: #406391;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}